@import url('https://fonts.googleapis.com/css?family=Questrial');

:root {
  --color: #000;
}

body {
  font-family: Questrial, Helvetica, sans-serif;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  background-color: var(--color);
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

#canvas {
  width: 100vw;
  max-width: 100vh;
  height: 100vh;
  max-height: 100vw;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#highscorelist {
  color: #aaa;
  text-align: center;
  flex: 1 1 200px;
  height: 100vh;
  max-height: 100vw;
  height: 100vh;
  max-height: 100vw;

  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
}

.list:empty:after {
  content: "(Ingen enda)";
}

.list {
  overflow-y: auto;
  height: 100vh;
  max-height: 100vw;
}

.list [data-index="1"] {
  color: #B2AA00;
  font-weight: bold;
  font-size: 1.4em;
}

.list [data-index="2"] {
  color: #D1D1D1;
  font-weight: bold;
  font-size: 1.2em;
}

.list [data-index="3"] {
  color: #835100;
  font-weight: bold;
}

.btn {
  color: #ddd;
  padding: 8px 10px;
  margin: 8px;
  border-radius: 4px;
  box-shadow: 0 0 8px #000;
  background-color: #0a0;
}

.btn:hover {
  background-color: #0b0;
}

.play {
  position: fixed;
  top: 0;
  right: calc(50% - 44px);
  background-color: #0a0;
  text-decoration: none;
  font-size: 2em;
}

.change-name {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.6em;
  box-shadow: none;
}

.change-name:hover {
  background-color: transparent;
}

.change-name:empty {
  display: none;
}

.hidden {
  display: none;
}
